# ML STRATEGY (PRACTICA)

In [4]:
# importamos las librerías necesarias para trabajar.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# importamos librearias de Logistic Regression (no sirve porque sirve para predecir entre dos opciones)
from sklearn.linear_model import LogisticRegression

In [6]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

from sklearn.model_selection import GridSearchCV

In [7]:
# importo el dataset XY_train, lo guardamos en el dataframe "train".
train = pd.read_csv(r'/users/big_n/python/xy_train.csv', delimiter=',')
test= pd.read_csv(r'/users/big_n/python/x_test.csv', delimiter=',')

In [8]:
train

           X          y
0   2.273360   6.054685
1   3.167583   4.581428
2   7.973655   5.392507
3   6.762547   3.108068
4   3.911096   4.225744
..       ...        ...
95  3.787495   5.133706
96  2.759471   4.308327
97  9.661041  11.923565
98  0.582026   1.335725
99  4.087339   5.641851

[100 rows x 2 columns]

In [9]:
test

           X
0   6.170800
1   6.302022
2   8.689293
3   2.376897
4   2.707320
5   6.555949
6   8.492565
7   0.111064
8   9.121449
9   2.675377
10  3.242831
11  6.416299
12  9.158768
13  0.659650
14  4.682379
15  8.109528
16  4.961968
17  6.013856
18  7.149417
19  6.279854

In [10]:
#creo un modelo generico de regresion lineal
lr = LinearRegression()

In [11]:
y = np.array(train[["y"]])
x = np.array(train[["X"]])

In [12]:
#Ajusto el modelo de regresion lineal utilizando el set de train, tanto las features X como las samples Y
lr.fit(x, y)

LinearRegression()

In [13]:
ypred = lr.predict(test)

In [14]:
ypred

array([[5.96759494],
       [6.03934112],
       [7.34459198],
       [3.89326209],
       [4.07392204],
       [6.17817658],
       [7.23702974],
       [2.6544078 ],
       [7.5808747 ],
       [4.05645739],
       [4.3667152 ],
       [6.10182228],
       [7.60127901],
       [2.95434962],
       [5.15379446],
       [7.02760273],
       [5.30666086],
       [5.88178477],
       [6.50265793],
       [6.02722072]])

In [15]:
np.shape(ypred)

(20, 1)

In [16]:
# calculo el error de mi modelo con las muestras de train
np.sqrt(mean_squared_error(test, ypred))

1.2169327757931407

In [17]:
mean_squared_error(test, ypred)

1.4809253807995986